@import "tailwindcss";

@theme {
    /*------------------COLORS------------------*/

    --color-frosted: var(--color-green-500);
    --color-surface-100: #ffffff;
    /* Pure foreground: bright white cards, inputs, menus */
    --color-surface-200: #f8fafc;
    /* Very subtle white/gray: for table lines or secondary elements */
    --color-surface-300: #f1f5f9;
    /* Light structuring gray: for large background containers */
    --color-surface-400: #e2e8f0;
    /* Page background and borders: gives solid grounding and separates blocks */

    /* Bright text */
    --color-text-main: #0f172a;
    /* Very dark slate, almost black */
    --color-text-muted: #475569;
    /* Medium gray for labels and subtitles */





    /*------------------SIZES------------------*/

    --width-timer : clamp(18.75rem,9.491rem + 46.296vw,50rem);
    /*The fluid  width of timer*/

    --height-timer : clamp(21.875rem,20.023rem + 9.259vw,28.125rem);
    /*The fluid  height of timer*/

    --container-header : clamp(18.75rem,13.194rem + 27.778vw,37.5rem);
    /*The width of the  header*/

    /*For the following 6 lines : 
        - timer-man refers to  the div containing pause, resume and stop button
        - session refers to the div containing the session and the breaks
        - gap and px/y refers to its corresponding gap(for the entire div) and padding(for each of the buttons)
    */

    --spacing-session-gap : clamp(0.875rem,-0.347rem + 6.111vw,5rem) ;
    --spacing-session-px : clamp(0.5rem,0.426rem + 0.370vw,0.75rem) ;
    --spacing-session-py : clamp(0.25rem,0.176rem + 0.370vw,0.5rem) ;

    --spacing-timer-man-gap : clamp(0.5rem,0.204rem + 1.481vw,1.5rem) ;
    --spacing-timer-man-px : clamp(0.25rem,0.176rem + 0.370vw,0.5rem) ;
    --spacing-timer-man-py : clamp(0.125rem,0.088rem + 0.185vw,0.25rem) ;

    --spacing-timer-man-button-gap : clamp(0.125rem,0.088rem + 0.185vw,0.25rem) ;
    /*this  gap is between the text(in span) and the icon in every button in the timer-man*/




    /*------------------TEXT'S SIZES------------------*/

    --text-value-nav : clamp(0.625rem,0.532rem + 0.463vw,0.9375rem);
    /*the value  of  the size of each element inside the navbar (texts and icons)*/

    --text-header : clamp(1rem,0.741rem + 1.296vw,1.875rem);
    /*The size's value of the elements  of the  header*/
    
    --text-session :  clamp(0.6875rem,0.558rem + 0.648vw,1.125rem) ;
    /*size for the session's buttions*/

    --text-timer-center : clamp(4.375rem,2.338rem + 10.185vw,11.25rem) ;
    /*size of the text at the center of the time, a.k.a the big one*/

    --text-timer-man : clamp(0.5rem,0.389rem + 0.556vw,0.875rem) ;
    /*size of the elements in the div containing  pause, resume and stop*/

    --text-settings-title : clamp(1.25rem,1.157rem + 0.463vw,1.5625rem);
    /*size of the title in the settings page*/

}